:root {
  --clr-neutral-white: #ffffff;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background: url("/assets/background-stars.svg"), #070724;
  background-size: cover;
  color: var(--clr-neutral-white);
}


ul,
ol {
  list-style-type: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
