.planetContainer {
  /* padding: 7.875rem auto 3.5rem; */
  max-width: 85vw;
  margin-inline: auto;
}

.center {
  display: grid;
  place-items: center;
}
.gridColumn {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "image info"
    "features features";
  row-gap: 5.4375rem;
  margin: 7.875rem 6rem 3.5rem;
  /* margin: 7.875rem 10.3125rem 3.5rem; */
  /* overflow: hidden; */
  /* max-width: 77.08%; */
}

.image {
  grid-area: image;
  /* display: relative; */
}

.planetImg {
  /* object-fit: contain; */
}

.planetInfo {
  grid-area: info;
  display: grid;
  grid-template-rows: auto;
  row-gap: 1.4375rem;
  min-width: 21.875rem;
  /* width: 100%; */

}


.planetName {
  font-family: var(--antonio-font);
  font-weight: inherit;
  font-size: 5rem;
  line-height: 6.5rem;
  text-transform: uppercase;
}

.planetContent {
  font-family: var(--spartan-font);
  font-weight: inherit;
  font-size: 0.875rem;
}

.externalLink {
  font-family: var(--spartan-font);
  font-weight: 400;
  font-size: 0.875rem;
  color: hsl(var(--clr-white-hsl), 0.5);
  display: flex;
}

.externalLink a {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.externalLink svg {
  display: inline;
  margin-left: 0.5rem;
}
